@charset "UTF-8";

body{

    height: 97vh;

    background: black url('../imagens/fundo-madeira.jpg') center center no-repeat fixed;
    background-size: cover;

}

div#container{

    height: 97vh;

    display: flex;

    align-items: center;

    justify-content: center;

}