@charset "UTF-8";

div.conteiner{

    display: grid;

    grid-template: repeat(3, 100px) / repeat(4, 1fr);

    border: 2px solid gray;

}

.caixa{

    border: 2px solid black;

}

#caixa1{

    background-color: #264653;
    color: white;
    
    padding: 5px;

    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 1;
    grid-column-end: -1;

}

#caixa2{

    background-color: #2a9d8f;
    color: white;
    
    padding: 5px;

    grid-row-start: 2;
    grid-row-end: -1;

    grid-column-start: 1;
    grid-column-end: 2;

}

#caixa3{

    background-color: #e9c46a;
    color: white;
    
    padding: 5px;

    grid-row-start: 2;
    grid-row-end: -1;

    grid-column-start: 2;
    grid-column-end: -2;

}

#caixa4{

    background-color: #f4a261;
    color: white;
    
    padding: 5px;

}

#caixa5{

    background-color: #e76f51;
    color: white; 
    
    padding: 5px;

}