@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #F1D8C9, #F2C3A7);
    background-attachment: fixed;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #776961a1;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #BF532C;
    text-align: center;
    text-shadow: 1px 1px 2px #7e371ead;
}

h2
{
    color: #BF793B;
}

p{
    text-align: justify;
}
