@charset "UTF-8";

/* Configurações Gerais */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
/* Fonte Cormorant Garamond - font-family: "Cormorant Garamond", serif; */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Fonte Inter - font-family: "Inter", sans-serif; */

*{

    margin: 0px;
    padding: 0px;

}

body{

    height: 100vh;

    background: black url('../imagens/ilke-yazgan-a8b6zP1wEDQ-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;

}

h1#h1{

    text-align: center;

    padding: 10px;

    color: aliceblue;

    font-family: "Cormorant Garamond", serif;

}

strong{

    color: #6BAF7A;

}

div#contfoto > img{

    border-radius: 50%;

    background-color: transparent;

}

label{

    font-family: "Inter", sans-serif;

    color: aliceblue;

    padding: 10px;

}

p#esqueceu{

    font-size: small;

    position: absolute;

    bottom: 31%;
    left: 50%;

}

a{

    color: #6BAF7A;;

    font-family: "Inter", sans-serif;

    text-decoration: none;

}

div#inputenv > input{

    width: 73%;

    border-radius: 15px;

    background-color: #6BAF7A;;

    padding: 20px;

}
