@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/* font-family: 'Plus Jakarta Sans', sans-serif; */

body{
    padding: 0;
    margin: 0;

    background-color: #DEF0FF;

}

header{
    background-image: linear-gradient(to bottom, #0a1628, #0d2d6b,  #1a56b0,#2e86de,   #56b4f5);
    color: white;

    font-family: 'Plus Jakarta Sans', sans-serif;

    margin-bottom: 130px;

    box-shadow: 0px 8px 24px  rgba(13, 45, 107, 0.5);;
}

h1#header{
    padding: 0px;
    margin: 0px 0px 80px 0px;

    display: flex;
    height: 100vh;

    font-size: 6vw;

    justify-content: center;
    align-items: center;

    text-shadow: 0px 8px 24px rgba(0,0,0,0.6);;
}

p#head{

    display: flex;

    font-size: 2vw;
    
    color: white;

    justify-content: center;

    position: absolute;

    top: 55%;
    right: 35%;


    text-shadow:  0px 1px 2px rgba(0,0,0,0.8);;
}

main{
    background-color: #DEF0FF;
}

h1#body{
    padding: 10px;
    margin-bottom: 30px;

    text-align: center;

    font-size: 3.5vw;

    color: black;

    margin-left: 2vw;

    font-family: 'Plus Jakarta Sans', sans-serif;
}


div#container{
    border: 1px solid black;

    overflow: hidden;
    overflow-x: auto;

    width: 90vw;  
    
    border-radius: 15px 15px 0px 0px;

    margin: auto; 

    margin-bottom: 100px;

}

table{

    border-collapse: collapse;

    background-color: #ffffff;

    color: #1a2340;

    height: 200px;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.288);

    padding: 20px;

}

thead{

    background-color: #163158;

    color: white;

}

tr:nth-child(even){

    background-color: #e8f0f9;

}

td{
    border: 1px solid black;

    padding: 15px;

    font-family: "Inter", sans-serif;  
    
    font-size: 1.8vw;
}



th{ 
    padding: 30px;

    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;

    font-size: 2vw;

    border: 1px solid black;
}

a{
    display: block;

    width: 200px;
    height: 50px;

    margin: 20px auto;

    padding: 5px;

    border-radius: 20px;

    background-color: #0a1628;
    color: white;

    font-family: "Inter", sans-serif;

    text-align: center;
    line-height: 50px;

    text-decoration: none;

    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12);
}

a:hover{
    transition: 0.3s;

    padding: 10px;

    background-color: #1a56b0;
    color: white;

    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.24);
}


iframe{
    background: black url("../imagens/iframe_acesso_azul_pequeno.png") center center;

    border-radius: 20px;

    margin: 20px auto;

    width: 70%;
    height: 8vw;

    display: block;

    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12);
}

