@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints 
-----------------------------------

Pequenas telas: até 600px
Celular: de 600px a 768px
Tablet: de 768px a 992px
Desktop: de 992px a 1200px
Grandes telas: 1200px ou mais

*/

@media screen and (min-width: 768px)  {
    
    i#burguer {

        display: none;

    }

    menu{

        display: block !important;

    }

    menu > ul > li{

        display: inline-block;

    }

    main{

        width: 700px;

    }
    
}