@charset "UTF-8";

:root{

    ---cor-principal: #32292F;
    ---cor-secundaria: #575366;
    ---cor-terciaria: #6E7DAB;
    ---cor-quaternaria: #5a638a;

}

*{

    padding: 0;
    margin: 0;

    box-sizing: border-box;

}

body, html{

    height: 100vh;

}

body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;

    line-height: 1.5;

    display: flex;

    min-height: 100vh;

    flex-direction: column;


}

header#head{

    background-color: var(---cor-terciaria);

    padding: 20px;

    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.418);

}

header#head > h1{

    color: white;

    text-align: center;

    font-size: 2.2rem;

    margin-bottom: 10px;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.548);

}

header#head > p{

    color: white;

    font-size: 1rem;

    text-align: justify;

}

main{

    color: var(---cor-principal);
    
    flex: 1;

}

section#conteiner{

    display: flex;

    padding: 20px;

    flex-flow: row wrap;

    justify-content: space-evenly;

    align-items: stretch;

    gap: 20px;

    height: 100%;

}

div.fios{

    display: flex;

    flex-flow: column nowrap;

    justify-content: flex-start;

    background-color: var(---cor-secundaria);
    color: white;

    padding: 10px;

    border-radius: 10px;

    flex-basis: 190px;

    text-align: center;

    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.589);

    border: 3px solid black;

    cursor: pointer;

}

div#cor:hover{

    border: 3px solid whitesmoke;

    transform: translateY(10px);

    transition: 0.5s;

}

div#sao:hover{

    border: 3px solid red;  

    transform: translateY(10px);

    transition: 0.5s;

}

div#san:hover{

    border: 3px solid whitesmoke;

    transform: translateY(10px);

    transition: 0.5s;

}

div#fla:hover{

    border: 3px solid red;  

    transform: translateY(10px);

    transition: 0.5s;

}

div#pal:hover{

    border: 3px solid green;  

    transform: translateY(10px);

    transition: 0.5s;

}

div#int:hover{

    border: 3px solid red;  

    transform: translateY(10px);

    transition: 0.5s;

}

img.logo{

    min-width: 0;

    flex-basis: 100px;

    height: 100px;

}

h2.nomes{

    font-size: 1.5rem;

    margin-bottom: 15px;

    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.377);

}

p.textos{

    text-align: start;

    font-size: 0.9rem;

}


footer#footer {

    text-align: center;

    padding: 10px;

    background-color: var(---cor-quaternaria);
    color: rgb(0, 0, 0);

    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.274);

    font-family: "Inter", sans-serif;

    margin-top: 20px;

}

p#footer-nome {

    font-size: 1.1rem;

    font-weight: bold;

    margin-bottom: 5px;

    color: white;

    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.425);

}

p#footer-frase {

    font-size: 0.85rem;

    color: white;

    font-style: italic;

    margin-bottom: 10px;

    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.555);

}

div#footer-redes {

    display: flex;

    justify-content: center;

    gap: 20px;

    margin-bottom: 10px;

    color: white;

}

div#footer-redes a:hover {

    text-shadow: 0px 4px 15px rgba(24, 23, 23, 0.9);

}

p#footer-copy {

    font-size: 0.75rem;

    color: white;

    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.76);

}

a{

    color: white;

    text-decoration: none;

    font-weight: bold;

}
